/* form */

.form-check-input:focus {
  box-shadow: none !important;
  border-color: white !important;
}
  
.form-check-input {
  background-color: transparent !important;
  border: 1px solid white !important;
  appearance: none; 
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
  
.form-check-input:checked {
  background-color: white !important;
  border-color: white !important;
}
  
.form-check-input:checked::before {
  content: "✔";
  font-size: 1rem;
  color: black; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  display: block;
}
  
.form-check-input::before {
  display: none;
}

.tooltip {
  --bs-tooltip-bg: rgba(30, 30, 30, 0.9); 
  --bs-tooltip-color: #fff; 
  --bs-tooltip-padding-x: 10px;
  --bs-tooltip-padding-y: 6px;
  --bs-tooltip-border-radius: 6px;
  font-size: 12px;
  letter-spacing: 0.5px;
}


.tooltip .tooltip-arrow {
  display: block;
  width: 10px;
  height: 10px;
}


.tooltip.show {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
