:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0a0a0a;
}
/* glitch effects */
.glitch-container {
  position: relative;
}

.glitch {
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
   
  pointer-events: none;
}

.glitch::before {
  text-shadow: -2px 0 cyan, 2px 0 red;
}

.glitch::after {
  text-shadow: 2px 0 red, -2px 0 cyan;
}

/* static effects */
@keyframes tv-static {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.static-effect {
  position: relative;
  overflow: hidden;
}

.static-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/noise.png');
  opacity: 0.3;
  mix-blend-mode: overlay;
  animation: tv-static 0.2s steps(10) infinite;
}

.static-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.5) 70%);
  opacity: 0.2;
  mix-blend-mode: soft-light;
  animation: tv-static 0.5s steps(20) infinite;
}

/* google fonts */

:root {
  --font-sixtyfour: "Sixtyfour", serif;
}

.sixtyfour {
  font-family: var(--font-sixtyfour);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

/* Typewriter Effect */
@keyframes typing {
  0% {
    width: 0;
    border-right-color: transparent; 
  }
  100% {
    width: 100%;
    border-right-color: transparent; 
  }
}

@keyframes blink {
  50% {
    border-right-color: white; 
  }
}

.typewriter {
  font-weight: bold;
  position: relative;
  display: inline-block;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 4px solid transparent; 
  animation: typing 2s steps(12) 1s forwards, blink 0.75s step-end infinite;
}

.social-icons {
  color: #f74e4e;
  font-size: 1.5rem;
  margin-right: 1rem;
}

/* video player */
.video-js {
  background-color: #000; 
}

.video-player-container::after {
  content: 'No video loaded';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  text-align: center;
  z-index: 1;
}

.layout {
 height: 100%;
}

h4 {
  color: #9f9e9e;
}

/* hr */
.hr {
  width: 100%;
  color: #a9a9a9 ;
  align-items: center;
}