html,
body { 
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0a0a0a;
}

/* glitch effects */
.glitch-container {
  position: relative;
}

.glitch {
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
   
  pointer-events: none;
}

.glitch::before {
  text-shadow: -2px 0 cyan, 2px 0 red;
}

.glitch::after {
  text-shadow: 2px 0 red, -2px 0 cyan;
}

/* static effects */
@keyframes tv-static {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
.static-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  mix-blend-mode: overlay;
  z-index: 2;
}
  
.static-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(138, 43, 226, 0.2) 0%, rgba(0, 0, 255, 0.5) 70%);
  opacity: 0.4;
  mix-blend-mode: soft-light;
  animation: tv-static 0.5s steps(20) infinite;
}
  
/* google fonts */

:root {
  --font-sixtyfour: "Sixtyfour", serif;
}

.sixtyfour {
  font-family: var(--font-sixtyfour);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

/* Typewriter Effect */
@keyframes typing {
  0% {
    width: 0;
    border-right-color: transparent; 
  }
  100% {
    width: 100%;
    border-right-color: transparent; 
  }
}

@keyframes blink {
  50% {
    border-right-color: white; 
  }
}

.typewriter {
  font-weight: bold;
  position: relative;
  display: inline-block;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 4px solid transparent; 
  animation: typing 2s steps(12) 1s forwards, blink 0.75s step-end infinite;
}